{% block styles %}
  <link rel="stylesheet" href="/style.css" />
{% endblock %}

{% block footer_wrapper %}

<footer id="mims-footer" role="contentinfo" >
    <div class="mims-container">
       <div class="mims-row">
          <div class="mims-col-md-3">
             <div id="custom_html-3" class="widget_text widget widget_custom_html">
                <h2>SAEON ODP</h2>
                <div class="textwidget custom-html-widget">
                   <img src="/nrf-saeon-logo.png" style="height: 90px;">
                   <p><a href="https://ulwazi.saeon.ac.za/projects/open-data-platform/" target="_blank" rel="noopener noreferrer">Open Data Platform</a></p>
                </div>
             </div>
          </div>
          <div class="mims-col-md-3">
             <div id="text-3" class="widget widget_text">
                <h2>Useful links</h2>
                <div class="textwidget">
                   <p><a href="https://www.environment.gov.za/" target="_blank" rel="noopener noreferrer">DEFF</a></p>
                   <p><a href="https://ulwazi.saeon.ac.za/" target="_blank" rel="noopener noreferrer">SAEON uLwazi Node</a></p>
                   <p><a href="http://sadco.ocean.gov.za/" target="_blank" rel="noopener noreferrer">SADCO</a></p>
                   <p><a href="https://www.ocims.gov.za/" target="_blank" rel="noopener noreferrer">OCIMS</a></p>
                   <p><a href="http://afrobis.csir.co.za/" target="_blank" rel="noopener noreferrer">AfrOBIS</a></p>
                </div>
             </div>
          </div>
          <div class="mims-col-md-3">
             <div id="text-4" class="widget widget_text">
                <h2>Legal</h2>
                <div class="textwidget">
                   <p>Disclaimer</p>
                   <p>Terms of Use</p>
                </div>
             </div>
          </div>
          <div class="mims-col-md-3">
             <div id="text-2" class="widget widget_text">
                <h2>Contact us</h2>
                <div class="textwidget">
                   <p>Email: data@ocean.gov.za<br />
                      <br />
                      <img src="/deff-logo.png" class="dea-logo">
                   </p>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="mims-bg-dark">
       <div class="mims-container">
          <p>Copyright 2020 Marine Information Management System</p>
       </div>
    </div>
 </footer>



{% endblock %}